@page
@model Logistic_Company.Pages.sotrudnic_.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.sotrudnic[0].vozrast)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.sotrudnic[0].pol)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.sotrudnic[0].adres)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.sotrudnic[0].telephon)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.sotrudnic[0].Pasport_dan)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.sotrudnic[0].Fio)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.sotrudnic) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.vozrast)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.pol)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.adres)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.telephon)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pasport_dan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fio)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
